
#container {
  box-sizing: border-box;
  height:80%;
  border-radius:3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(500px, 100%, 600px);
  margin-left: 499px;
 
}

h3 {
  margin:100px;
  margin-left:43px;
  margin-bottom: 10px;
}

form a,
form button {
  margin-left: 20px;
  float: right;
}

button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.custom:hover {
  background-color: orange;
  cursor: pointer;
}