<app-nav-bar></app-nav-bar>

<body color="bg-light">
    <div class="poster_container">
        <div class="titulo">
            <h3>Sobre</h3>
            <div class="label1">
                O Marketplace é um dos maiores E-commerces de Tecnologia e Games da América Latina
            </div>
        </div>
      
    </div>
    <div class="poster_container2">

        <h1>Marketplace</h1>
        <div class="label2">
            Fundado em 2022, o Marketplace é um dos pioneiros no comércio eletrônico brasileiro e hoje é um dos maiores
            e-commerces de Tecnologia e
            Games na América Latina. Desde sua criação, a empresa é formada por histórias e conquistas de um time
            obcecado por agilidade,
            qualidade de atendimento, velocidade de entrega e respeito pelo consumidor.

        </div>
    </div>

    <div class="genericcontainer">

        <div class="label3">
            <h1>Vendas Online</h1>
            <div class="text">
                <p>
                    Para quem tem loja virtual, um e-commerce ou mesmo um blog. O Marketplace tem a solução ideal para
                    quem vende pela internet.

                </p>
            </div>

        </div>
        <div class="conteudo">
            <div class="container">
                <img src="../../../../../assets/sobre3.jpg" alt="">
            </div>
        </div>



    </div>
    <div class="genericcontainer">
        <div class="conteudo">
            <div class="container">
                <img src="../../../../../assets/sobre4.jpg" alt="">
            </div>
        </div>

        <div class="label3">
            <h1>Compras Seguras</h1>
            <div class="text">
                <p>
                    Se você comprou online e não recebeu o que foi acordado no momento da compra, nós te ajudamos a
                    resolver. Você tem até 30 dias para acionar a Disputa.

                </p>
            </div>
        </div>
    </div>
    <div class="depoimento">

       <div class="titulo">
        <strong>Depoimento dos clientes</strong>
       </div>
        <div class="cards">
            <div class="card1">
              <div class="cliente">
                <img src="../../../../../assets/sobrepessoa.jpg" alt="">
              </div>  
              <div class="Dcliente">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima corporis vel libero id obcaecati quidem, reiciendis, consequuntur similique iste dolore reprehenderit ullam porro et dicta earum, hic dolorem. Cum.</p>
              </div>
            </div>
            <div class="card1">
                <div class="cliente">
                  <img src="../../../../../assets/sobrepessoa2.jpg" alt="">
                </div>  
                <div class="Dcliente">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima corporis vel libero id obcaecati quidem, reiciendis, consequuntur similique iste dolore reprehenderit ullam porro et dicta earum, hic dolorem. Cum.</p>
                </div>
              </div>
              <div class="card1">
                <div class="cliente">
                  <img src="../../../../../assets/sobrepessoa3.jpg" alt="">
                </div>  
                <div class="Dcliente">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima corporis vel libero id obcaecati quidem, reiciendis, consequuntur similique iste dolore reprehenderit ullam porro et dicta earum, hic dolorem. Cum.</p>
                </div>
              </div>
        </div>
        
            
            
            

    </div>




</body>