<div class= "dialog-container">
    <mat-dialog-actions>
    <button mat-button mat-dialog-close>X</button>
    </mat-dialog-actions>
   
    <h3>{{administrador.nome}}</h3>
    <span><strong>Id: </strong>{{administrador.id}}</span>
    <span><strong>Nome: </strong>{{administrador.nome}}</span>
    <span><strong>Sobrenome: </strong>{{administrador.sobrenome}}</span>
    <span><strong>CPF: </strong>{{administrador.cpf}}</span>
    <span><strong>E-mail: </strong>{{administrador.email}}</span>
    <span><strong>Telefone: </strong>{{administrador.telefone}}</span>
    
</div>
