<app-nav-bar></app-nav-bar>


  <div class="carousel">

    <body color="bg-light">
      <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide d-block " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../../assets/bannercliente.jpg" class="d-block w-100 " height="200" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../../assets/bannerfone.png" class="d-block w-100 " height="200" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../../assets/note.png" class="d-block w-100" height="200" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div>
        <mat-card class="introducao">
          <mat-card-title>Bem vindo(a) a página do Cliente!</mat-card-title>
         
        </mat-card>
      </div>

      <div class="cards-linha-1">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Nossa Visão</mat-card-title>
            <mat-card-subtitle>Venha conhecer um pouco sobre nós</mat-card-subtitle>
          </mat-card-header>
          <a  href="http://localhost:4200/sobre" target="_blank"><img mat-card-image
              src="../../../../../assets/nos.png" id="imgsobre"></a>
        </mat-card>

        <mat-card id="card-destaque" class="card">
          <mat-card-header>
            <mat-card-title>Empresa Amiga do Meio Ambiente</mat-card-title>
            <mat-card-subtitle>A sua compra ajuda o meio ambiente</mat-card-subtitle>
          </mat-card-header>
          <a href="https://plantarumaarvore.org/" target="_blank"><img mat-card-image
              src="../../../../../assets/ambiente.jpg" id="img-destaque"></a>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Lançamentos de Jogos</mat-card-title>
            <mat-card-subtitle>Conheça os jogos que acabaram de sair </mat-card-subtitle>
          </mat-card-header>
          <a href="https://store.epicgames.com/pt-BR/news/the-biggest-upcoming-pc-games-of-2022"
            target="_blank"><img id="img-futuro" mat-card-image src="../../../../../assets/jogos.jpg"></a>
        </mat-card>
      </div>

      <div class="cards-linha-2">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Ultima Geração de PC Gamer</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <a href="http://localhost:4200/marketplace" target="_blank"><img mat-card-image
              src="../../../../../assets/pc.jpg" id="img-liberdade"></a>
        </mat-card>

        <mat-card id="card-destaque" class="card">
          <mat-card-header>
            <mat-card-title> PS5 com a maior Desconto do ano</mat-card-title>
            <mat-card-subtitle>veja novidades do console da nova geração Enorme nas dimensões e nas configurações,</mat-card-subtitle>
          </mat-card-header>
          <a href="http://localhost:4200/marketplace" target="_blank"><img
              mat-card-image src="../../../../../assets/ps5.jpg" id="img-eletronicos"></a>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Software mais baratos você encontra aqui</mat-card-title>
            <mat-card-subtitle>Estamos sempre melhorando a nossa plataforma para melhor atendê-lo</mat-card-subtitle>
          </mat-card-header>
          <a href="https://soulcodeacademy.org/curso-java-full-stack" target="_blank"><img id="img-melhorias"
              mat-card-image src="../../../../../assets/melhorias.jpg"></a>
        </mat-card>
      </div>









<app-footer></app-footer>