<app-nav-bar></app-nav-bar>
<hr>
<hr>
<body class="p-5 m-auto border-1 bd-example bg-light">
    <div class="head">
    <section>
        <h2>Dúvidas Frequentes</h2>
        <p>
            Encontre abaixo respostas para as perguntas mais frequentes.
        </p>
    </section>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vantagens em usar a nossa plataforma:
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <p> Temos vantagens exclusivas e cashback,em produtos selecionados, nas lojas
                estabelecimentos parceiros. Você ainda pode aproveitar todos os serviços que deixam sua
                vida
                muito mais
                fácil.</p>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Eu pago alguma tarifa para usar?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>O app é gratuito e você não paga nada para criar uma conta e-Commerce. Não tem custo, anuidade e
                nem taxa de
                manutenção.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como faço para ser cliente?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>O app é gratuito e você não paga nada para criar uma conta e-Commerce. Não tem custo, anuidade e
                nem taxa de
                manutenção.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Como acessar minha conta?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Para entrar na sua conta use o e-mail que cadastrou conosco..</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Errei ao informar meus dados ou quero alterá-los, como faço?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>O app é gratuito e você não paga nada para criar uma conta e-Commerce. Não tem custo, anuidade e
                nem taxa de
                manutenção.</p>
        </mat-expansion-panel>
    </mat-accordion>
</body>
